body {
    background-color: #042037;
    color: #EAE0C8;

}

.navbar-default {
    background-color: #496D89 !important;
    border: none;
}

a {
    color: #A9A9A9 !important;
    text-decoration: none !important;
}

a:hover {
    color: #FF476A !important;
}

.btn-primary {
    color: #F0FFF0;
    background-color: #123652;
    border: none;
}

.btn-primary:hover {
    background-color: #325754;
}

select#category{
    color: #555 !important;
}
