body {
    background-color: #070507;
    color: #EAE0C8;

}

.navbar-default {
    background-color: #2D1E26;
    border: none;
}

a {
    color: #F0FFF0 !important;
    text-decoration: none !important;
}

a:hover {
    color: #FF476A !important;
}